
# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ
*.iml
*.iws
.idea/

# Compiled class files
bin/
target/

# Build directories
build/
out/

# Temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db
